* {
    box-sizing: border-box;
    margin: 0;
    
    
}


body {
    background-color: rgb(97, 105, 115);
    font-family: 'Roboto', sans-serif;

}

header {
    background-color: rgb(97, 105, 115); 
}

.header-site {
    height: 100px;
    background-color: #262f45;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    border-bottom: 1px solid #282828;
    font-weight: bolder;
    border-bottom: 1px solid #51618a;
}

.header-site .logo {
    display: flex;
    gap: 15px;
    cursor: pointer;
    
}

.header-site .logo img {
    width: 200px;
}

.header-site .menu {
    display: flex;
    
    margin-top: 20px;
    gap: 30px;
    list-style: none;

}



.header-site .menu li a {
    padding: 30px;
    color: #0099ff;
    
    font-size: 15px;
    text-decoration: none;
}

.header-site .menu li a:hover {
    color: #FFF;
}

.conteudo-suporte {
    background-color: rgb(232, 232, 232);
    height: 120vh;
    padding: 20px;
    
}

.conteudo-suporte .container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 30%;
    border-radius: 20px;
    
}

.conteudo-suporte .container .card {
    margin-top: 20px;
    margin-bottom: 20px;
    background: transparent;
    border: 0;
    width: 30rem;
}

.conteudo-suporte .container .card .card-image {
    width: 26rem;
    padding: 50px;
    

}

.conteudo-suporte .container .card img{
    border-radius: 50%;
    height: 20rem;


}

.conteudo-suporte .container .card-body {
    margin-top: 10px;
    border-top: 1px solid #9e9e9e;
    font-weight: 400;
    
}

@media (max-width: 450px) {

    .header-site .logo {
        display: flex;
        cursor: pointer;
        padding: 10px;
    
    }

    .header-site .logo img {
        width: 80px;
    
    }

    .header-site .menu {
        display: flex;
        margin-top: 10px;
        gap: 10px;
        list-style: none;
    
    }

    .header-site .menu li a {
        padding: 5px;
        color: #0099ff;
        padding-left: 1px;
        font-size: 10px;
        text-decoration: none;
    }

    .header-site .menu  #account-icon{
        font-size: 12px;
        margin-top: 5px;
    }

    
    .conteudo-suporte .container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        width: 100%;
        border-radius: 20px;
        
    }

    .conteudo-suporte .container .card .card-image {
        width: 300px;
        padding: 40px;
        
    
    }

    


 

    

}










