* {
    box-sizing: border-box;
    margin: 0;
    
}


body {
    background-color: rgb(97, 105, 115);
    font-family: 'Roboto', sans-serif;

}

.header-site {
    height: 100px;
    background-color: #262f45;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    border-bottom: 1px solid #282828;
    font-weight: bolder;
    border-bottom: 1px solid #51618a;
}

.header-site .logo {
    display: flex;
    gap: 15px;
    cursor: pointer;
    
}

.header-site .logo img {
    width: 200px;
}

.header-site .menu {
    display: flex;
    
    margin-top: 20px;
    gap: 30px;
    list-style: none;

}



.header-site .menu li a {
    padding: 30px;
    color: #0099ff;
    
    font-size: 15px;
    text-decoration: none;
}

.header-site .menu li a:hover {
    color: #FFF;
}

.form {
    background-color: rgb(232, 232, 232);
    height: 100vh;
    padding-top: 15px;
    
    
}

.formulario-suporte .form .form-group{
    margin-top: 5px;
    font-weight: 700;
    color: #262f45;


}

.formulario-suporte .form .form-group label{
    margin-top: 10px;
    margin-bottom: 10px;



}


.formulario-suporte .form button{
    margin-top: 20px;
    padding: 10px;


}

.formulario-suporte .form button:hover{
    background-color: #262f45;


}


.formulario-suporte .form .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;


}

.formulario-suporte .form .container{
    background-color: #fff;
    padding: 10px;
    width: 40%;
    
    
}



@media (max-width: 450px) {

    .header-site .logo {
        display: flex;
        cursor: pointer;
        padding: 10px;
    
    }

    .header-site .logo img {
        width: 80px;
    
    }

    .header-site .menu {
        display: flex;
        margin-top: 10px;
        gap: 10px;
        list-style: none;
    
    }

    .header-site .menu li a {
        padding: 5px;
        color: #0099ff;
        padding-left: 1px;
        font-size: 10px;
        text-decoration: none;
    }

    .header-site .menu  #account-icon{
        font-size: 12px;
        margin-top: 5px;
    }

    .form {
        background-color: rgb(232, 232, 232);
        height: 100vh;
        padding-top: 20px;
        
        
    }
    
    .formulario-suporte .form .form-group{
        margin-top: 5px;
        font-weight: 700;
        color: #262f45;
    
    
    }
    
    .formulario-suporte .form .form-group label{
        margin-top: 10px;
        margin-bottom: 10px;
    
    
    
    }
    
    
    .formulario-suporte .form button{
        margin-top: 20px;
        padding: 10px;
    
    
    }
    
    .formulario-suporte .form .container #meuBotao:hover{
        background-color: #262f45;
    
    
    }

    
    
    .formulario-suporte .form .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
    
    
    }
    
    .formulario-suporte .form .container {
        background-color: #fff;
        padding: 5px;
        width: 80%;
        
        
    }

    .formulario-suporte  #buttons #btn-facebook:hover{
        background-color: #fff;
    }

}
